 
  		 /* Applied to all the html body... */
  		 body {
  		  top: 5em;
  		  padding-right: 15em;
  		  padding-left: 15em;
  		  font-family: Georgia, "Times New Roman",
          Times, serif;
  		  color: navy;
  		  background-color: #DFF2FF }
  		  
		 	
		  /* Customizes navigation menu */
	      ul.navbar{
	        list-style-type: none;
   			padding: 0;
  			margin: 0;
    		position: absolute;
    		background-color:#87CEFA
    		top: 2em;
			left: 1em;
			} 
			
		/* Customizes navigation menu items */
		  ul.navbar li {
			   background: white;
				margin: 0.5em 0;
				padding: 0.3em; 
				border-right: 1em solid navy }
		
			
		  ul.navbar li a:hover, ul li a:hover{color:#58FAAC;}
		  table a:hover{color:#58FAAC;}
		  
		 /* Deletes link underlines */		
		  ul.navbar a, table a, ul a{
			text-decoration: none }
			
		  a:link,a:visited {
			color: #669 }
			
			
		  elem_horiz{
		  	position: absolute;
		  	top: 0em;
			border-bottom: 5px solid navy
		  	}
		  	
			span{
			margin-left: 30px;
			}

			span2{
			margin-left: 15em;
			}
		
		
		/* ----- Our customized buttons(class) ----- */
		
		.myButton {
			background-color:#44c767;
			-moz-border-radius:18px;
			-webkit-border-radius:18px;
			border-radius:18px;
			border:4px solid #18ab29;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:arial;
			font-size:25px;
			padding:18px 31px;
			text-decoration:none;
		}
		.myButton:hover {
			background-color:#5cbf2a;
		}
					
					
				.myButton2 {
		  -webkit-border-radius: 8;
		  -moz-border-radius: 8;
		  border-radius: 8px;
		  font-family: Georgia;
		  color: #ffffff;
		  font-size: 15px;
		  background: #86caf7;
		  padding: 10px 20px 10px 20px;
		  border: solid #74a6c2 2px;
		  text-decoration: none;
		}
		
		.myButton2:hover {
		  background: #3cb0fd;
		  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
		  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
		  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
		  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
		  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
		  text-decoration: none;
		}
								
			.btn {
	  -webkit-border-radius: 0;
	  -moz-border-radius: 0;
	  border-radius: 0px;
	  font-family: Georgia;
	  color: #677fa8;
	  font-size: 15px;
	  background: white;
	  padding: 5px 25px 5px 25px;
	  border: solid navy 2px;
	  text-decoration: none;
	}
	
	.btn:hover {
	  background: #ffffff;
	  text-decoration: none;
	}
	
	       

			
			
		
		/* ----- Log-in/Sign up form ----- */
		
		input{
		  box-sizing: border-box;
		}

		
		.login {
		  margin: 50px auto;
		  padding: 18px 20px;
		  width: 150px;
		  background: #3f65b7;
		  background-clip: padding-box;
		  border: 1px solid #172b4e;
		  border-bottom-color: #142647;
		  border-radius: 5px;
		  position: absolute;
		  right: 1em;
	       top: 3px;
		}
		
		.login > h1 {
		  margin-bottom: 20px;
		  font-size: 16px;
		  font-weight: bold;
		  color: white;
		  text-align: center;
		  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
		}

		.login-input {
		  display: block;
		  width: 100%;
		  height: 37px;
		  margin-bottom: 20px;
		  padding: 0 9px;
		  color: white;
		  text-shadow: 0 1px black;
		  background: #2b3e5d;
		  border: 1px solid #15243b;
		  border-top-color: #0d1827;
		  border-radius: 4px;
		  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
		  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
		  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
		  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0));
		  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
		  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
		}
		.login-input:focus {
		  outline: 0;
		  background-color: #32486d;
		  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
		  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(255, 255, 255, 0.6);
		}
		.lt-ie9 .login-input {
		  line-height: 35px;
		}

		.login-submit {
		  display: block;
		  width: 100%;
		  height: 37px;
		  margin-bottom: 15px;
		  font-size: 14px;
		  font-weight: bold;
		  color: #294779;
		  text-align: center;
		  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
		  background: #adcbfa;
		  background-clip: padding-box;
		  border: 1px solid #284473;
		  border-bottom-color: #223b66;
		  border-radius: 4px;
		  cursor: pointer;
		  background-image: -webkit-linear-gradient(top, #d0e1fe, #96b8ed);
		  background-image: -moz-linear-gradient(top, #d0e1fe, #96b8ed);
		  background-image: -o-linear-gradient(top, #d0e1fe, #96b8ed);
		  background-image: linear-gradient(to bottom, #d0e1fe, #96b8ed);
		  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
		  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 7px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.15);
		}
		.login-submit:active {
		  background: #a4c2f3;
		  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
		  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px rgba(255, 255, 255, 0.1);
		}

		.login-help {
		  text-align: center;
		}
		.login-help > a {
		  font-size: 11px;
		  color: #d4deef;
		  text-decoration: none;
		  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
		}
		.login-help > a:hover {
		  text-decoration: underline;
		}
	
							
		/* ---- Our customized table (class) ---- */
		
		    /* Table "container" */
		.tab1  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe; position:absolute; top:28em } 	

			/* Cells */
		.tab1 td{font-family:Arial, sans-serif;font-size:14px;padding:10px 10px;border-style:solid;
		        border-width:2px;overflow:hidden;word-break:normal;border-color:navy;color:#669;
		        background-color:#e8edff;width:140px;height:20px; 
		 }
		 
            /* Header cells */
		.tab1 th{font-family:Arial, sans-serif;font-size:20px;font-weight:normal;padding:10px 5px;
		         border-style:solid;border-width:2px;overflow:hidden;word-break:normal;
		         border-color:navy;color:#039;background-color:#b9c9fe;}
 
 			/* Particular rows */
		.tab1 .tab1-3{text-align:center  }
		.tab1 .tab1-4{background-color:#D2E4FC }


      


		
		
		
		
			
			
			
			