  		 body {
  		  padding-left: 15em;
  		  font-family: Georgia, "Times New Roman",
          Times, serif;
  		  color: navy;
  		  background-color: #DFF2FF }
  		  
		  nav{
    		position: absolute;
    		background-color:#87CEFA
			top: 2em;
			left: 1em;
			list-style-type: none;
   			 padding: 0;
  			  margin: 0;}
			
		  nav li {
			   background: white;
				margin: 0.5em 0;
				padding: 0.3em; 
				border-right: 1em solid navy }
				
		  nav a {
			text-decoration: none }
			
		  a:link {
			color: blue }
			
		  a:visited {
			color: purple }
			
			
		  elem{
		  	position: absolute;
		  	top: 0em;
			right : 50px;
			background: white;
		  	}
		  	
		  address {
			margin-top: 1em;
			padding-top: 1em;
			border-top: thin dotted }
			
			.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
			.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#669;background-color:#e8edff;}
			.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
			.tg .tg-0ord{text-align:right}
			.tg .tg-ifyx{background-color:#D2E4FC;text-align:right}
			.tg .tg-s6z2{text-align:center}
			.tg .tg-vn4c{background-color:#D2E4FC}

	