#photo
{
	max-width:280px;
    max-height:240px;
    border-color:navy;
    border-width:2px;
    border-style:solid;
    margin:1em;
}

.nom
{
    color : black;

}

.tag
{
    color : green;
}

h3
{
    color : #383838;
}

.sous-titre
{
    color : #787878;
}

.info
{
    color : #383838;
}

ul
{
    list-style-type : none;  
}

section
{
    width : 700px;
	margin-left : auto;
	margin-right : auto;
}

.entete
{
    text-align : center;   
}
.first
{
    float : left;
}

.second
{
    float : right;
}