
{% extends "C4CApplication/JobDetails.html" %}
{% load i18n %}
{% block accept_bill %}
<center>
	{% trans "The following job has been marked as 'done' by"%} <b>{{ helper.first_name }} {{ helper.last_name }}</b> <br/>
	{% trans "Please confirm this information "%} : <br/>

	<p><a href="{% url 'confirmBill' job.id 1 %}" type="submit" value="Confirm" class="btn" >{% trans  "Confirm"%}</a>
	<a href="{% url 'confirmBill' job.id 0 %}" type="submit" value="Contest" class="btn">{% trans  "Contest"%}</a></p>
	</center>
{% endblock %}

