{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
{% load i18n %}
{% block link %}
<link rel="stylesheet" href="../../static/css/profile.css">

{% endblock %}

	
{% block menu%}
	

<section style="display: table;margin: 0 auto;">
    <article class = "first">
    <table class=tab1 >
    
		<td class=".tab1-3" colspan="6" > <p style="text-align: center;font-size: 23px;">{% trans "General informations" %} </p></td>
	
        <tr>
       <td class="tab1-4" colspan="2">  {% trans "Number of job completed" %}</td>
       <td> {{ jobAmount }}</td>
       </tr>
       
        <tr>
       <td class="tab1-4" colspan="2">    
       {% trans "Average time per job"%} </td>
       <td> {{ jobAverageTime }}</td>
       </tr>
       
        <tr>
       <td class="tab1-4" colspan="2">   {% trans " I drove"%} </td>
       <td> {{ jobTotalDistance }} {% trans "kilometers "%}</td>
       </tr>
       
        <tr>
       <td class="tab1-4" colspan="2">    {% trans " Type of job done"%} </td>
       <td>  {% for catKey, catValue in jobCategories.items %}
                        {{ catValue }} % {{ catKey }},
                    {% endfor %}</td>
       </tr>    
  

			<tr>
				<th   > </th>
				<th  >{% trans " Help received"%}</th>
				<th  >{% trans "Help done "%}</th>
			</tr>
			<tr>
				<th >{% trans "List of completed jobs"%}</th>
				<td  valign="top">
					{% if helpedDone %}
					<table class = "Second table" cellpadding="5" cellspacing="30" >
						<tr>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Date"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Job Cat"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Time Spent"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "For Whom"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">#KM</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">Details</td>
						</tr>
				
                        {% for job in helpedDone %}
                            <tr>
                                 <td style = "border-width:1px;">{{ job.date }}</td>
                                <td style = "border-width:1px;">{{ job.category }}</td>
                                <td style = "border-width:1px;">{{ job.duration }}</td>
                             <td style = "border-width:1px;">{{ job.whom }}</td>
                               <td style = "border-width:1px;">{{ job.km }}</td>
								<td style = "border-width:1px;"> <a href="{% url 'jobdetails' job.id %}" class = btn>{% trans "Details"%}</a></td>
                            </tr>
                        {% endfor %}
                      
					</table>
					 {% endif %} 
				</td>
				<td  valign="top">
				    {% if helperDone %}
					<table class = "Second table" cellpadding="5" cellspacing="30" >
						<tr>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Date"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Job Cat"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Time Spent"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "For Whom"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">#KM</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">Details</td>
						</tr>
						{% for job in helperDone %}
                            <tr>
                                 <td style = "border-width:1px;">{{ job.date }}</td>
                                <td style = "border-width:1px;">{{ job.category }}</td>
                                <td style = "border-width:1px;">{{ job.duration }}</td>
                             <td style = "border-width:1px;">{{ job.whom }}</td>
                               <td style = "border-width:1px;">{{ job.km }}</td>
							<td style = "border-width:1px;"> <a href="{% url 'jobdetails' job.id %}" class = btn>{% trans "Details"%}</a></td>
                            </tr>
                        {% endfor %}
					</table>
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>{% trans "Waiting jobs"%}</th>
				<td>
				    {% if helpedPending %}
					<table class = "Second table" cellpadding="5" cellspacing="30">
						<tr>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Date"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Job Cat"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Time Spent"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "For Whom"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">#KM</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">Details</td>
						</tr>
						{% for job in helpedPending %}
                            <tr>
                                <td style = "border-width:1px;">{{ job.date }}</td>
                                <td style = "border-width:1px;">{{ job.category }}</td>
                                <td style = "border-width:1px;">{{ job.duration }}</td>
                             <td style = "border-width:1px;">{{ job.whom }}</td>
                               <td style = "border-width:1px;">{{ job.km }}</td>
								<td style = "border-width:1px;"> <a href="{% url 'jobdetails' job.id %}" class = btn>{% trans "Details"%}</a></td>
                            </tr>
                        {% endfor %}
					</table>
					{% endif %}
			
				</td>
				<td  valign="top">
				    {% if helperPending %}
					<table class = "Second table" cellpadding="5" cellspacing="30">
						<tr>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Date"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Job Cat"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Time Spent"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "For Whom"%}</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">#KM</td>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">Details</td>
						</tr>
						{% for job in helperPending %}
                            <tr>
                                  <td style = "border-width:1px;">{{ job.date }}</td>
                                <td style = "border-width:1px;">{{ job.category }}</td>
                                <td style = "border-width:1px;">{{ job.duration }}</td>
                             <td style = "border-width:1px;">{{ job.whom }}</td>
                               <td style = "border-width:1px;">{{ job.km }}</td>
								<td style = "border-width:1px;"> <a href="{% url 'jobdetails' job.id %}" class = btn>{% trans "Details"%}</a></td>
                            </tr>
                        {% endfor %}
					</table>
					{% endif %}
				</td>
			</tr>
		</table>
	
	</article>
</section>   

{% endblock %}