{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
{% load i18n %}
{% block link %}
<link rel="stylesheet" href="../../static/css/account_and_stats.css">

{% endblock %}

	
{% block menu%}
	
<center>


<section style="margin-bottom:2em;">

    <article class = "first">
    <table class=tab1 >
    
		<th class=".tab1-3" colspan="6" >{% trans "General informations" %}</th>
	
        <tr>
       <td class="tab1-4" colspan="2">  {% trans "Number of job completed" %}</td>
       <td> {{ jobAmount }}</td>
       </tr>
       
        <tr>
       <td class="tab1-4" colspan="2">    
       {% trans "Average time per job"%} </td>
       <td> {{ jobAverageTime }}</td>
       </tr>
       
        <tr>
       <td class="tab1-4" colspan="2">   {% trans " I drove"%} </td>
       <td> {{ jobTotalDistance }} {% trans "kilometers "%}</td>
       </tr>
       
        <tr>
       <td class="tab1-4" colspan="2">    {% trans " Type of job done"%} </td>
       <td>  {% for catKey, catValue in jobCategories.items %}
                        {{ catValue }} % {{ catKey }}
                    {% endfor %}</td>
       </tr>
       

               
    </article>
    
  

			<tr>
				<th   > </th>
				<th  >{% trans " Help received"%}</th>
				<th  >{% trans "Help done "%}</th>
			</tr>
			<tr>
				<th >{% trans "List of completed jobs"%}</th>
				<td  valign="top">
					<table class = "Second table" cellpadding="5" cellspacing="30" >
						<tr>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Date"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Job Cat"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Time Spent"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "For Whom"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">#KM</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Comment"%}</th>
						</tr>
                        {% for job in helpedDone %}
                            <tr>
                                 <td style = "border-width:1px;">{{ job.date }}</td>
                                <td style = "border-width:1px;">{{ job.category }}</td>
                                <td style = "border-width:1px;">{{ job.duration }}</td>
                             <td style = "border-width:1px;">??</td>
                               <td style = "border-width:1px;">{{ job.km }}</td>
                             <td style = "border-width:1px;">{{ job.comment }}</td>
                            </tr>
                        {% endfor %}
					</table>
				</td>
				<td  valign="top">
					<table class = "Second table" cellpadding="5" cellspacing="30" >
						<tr>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Date"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Job Cat"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Time Spent"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "For Whom"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">#KM</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Comment"%}</th>
						</tr>
						{% for job in helperDone %}
                            <tr>
                                 <td style = "border-width:1px;">{{ job.date }}</td>
                                <td style = "border-width:1px;">{{ job.category }}</td>
                                <td style = "border-width:1px;">{{ job.duration }}</td>
                             <td style = "border-width:1px;">??</td>
                               <td style = "border-width:1px;">{{ job.km }}</td>
                             <td style = "border-width:1px;">{{ job.comment }}</td>
                            </tr>
                        {% endfor %}
					</table>
				</td>
			</tr>
			<tr>
				<th>{% trans "Waiting jobs"%}</th>
				<td>
					<table class = "Second table" cellpadding="5" cellspacing="30">
						<tr>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Date"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Job Cat"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Time Spent"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "For Whom"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">#KM</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Comment"%}</th>
						</tr>
						{% for job in helpedPending %}
                            <tr>
                                <td style = "border-width:1px;">{{ job.date }}</td>
                                <td style = "border-width:1px;">{{ job.category }}</td>
                                <td style = "border-width:1px;">{{ job.duration }}</td>
                             <td style = "border-width:1px;">??</td>
                               <td style = "border-width:1px;">{{ job.km }}</td>
                             <td style = "border-width:1px;">{{ job.comment }}</td>
                            </tr>
                        {% endfor %}
					</table>
			
				</td>
				<td  valign="top">
					<table class = "Second table" cellpadding="5" cellspacing="30">
						<tr>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Date"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Job Cat"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Time Spent"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "For Whom"%}</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">#KM</th>
							<td class="tab1-4" style = "font-size:14px; border-width:1px;">{% trans "Comment"%}</th>
						</tr>
						{% for job in helperPending %}
                            <tr>
                                  <td style = "border-width:1px;">{{ job.date }}</td>
                                <td style = "border-width:1px;">{{ job.category }}</td>
                                <td style = "border-width:1px;">{{ job.duration }}</td>
                             <td style = "border-width:1px;">??</td>
                               <td style = "border-width:1px;">{{ job.km }}</td>
                             <td style = "border-width:1px;">{{ job.comment }}</td>
                            </tr>
                        {% endfor %}
					</table>
				</td>
			</tr>
		</table>
	
	</article>
    
</section>   

{% endblock %}