{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static "css/account_and_stats.css"%}" />
        <title>Compte et statistiques</title>
    </head>

    <body>
    
<section>

    <article class = "first">
        <h3>Informations générales :</h3>
        <ul>
            <li class="info">Nombre de jobs complétés : {{ jobAmount }}</li>
            <li class="info">Average time per job : {{ jobAverageTime }}</li>
            <li class="info">J'ai conduit : {{ jobTotalDistance }} kilometers</li>
            <li class="info">Les styles de job que je fais :
                <ul>
                    {% for catKey, catValue in jobCategories.items %}
                        <li>{{ catValue }} % {{ catKey }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </article>
    
    <article>
		<h3>Vos travaux accomplis :</h3>
	  {% comment %} TODO : mettre variables django et boucle for pour remplir le tableau {% endcomment %}
		<table class = "First table">
			<tr>
				<th> </th>
				<th>Aides reçues</th>
				<th>Aides apportées</th>
			</tr>
			<tr>
				<th>Liste des jobs complétés</th>
				<td>
					<table class = "Second table" cellpadding="5" cellspacing="30" style="border:solid 3px green; border-collapse:collapse;">
						<tr>
							<th>Date</th>
							<th>Job Cat</th>
							<th>Time Spent</th>
							<th>For Whom</th>
							<th>#KM</th>
							<th>Comment</th>
						</tr>
                        {% for job in helpedDone %}
                            <tr>
                                <td>{{ job.date }}</td>
                                <td>{{ job.category }}</td>
                                <td>{{ job.time }}</td>
                                <td>??</td>
                                <td>{{ job.km }}</td>
                                <td>{{ job.comment }}</td>
                            </tr>
                        {% endfor %}
					</table>
				</td>
				<td>
					<table class = "Second table">
						<tr>
							<th>Date</th>
							<th>Job Cat</th>
							<th>Time Spent</th>
							<th>For Whom</th>
							<th>#KM</th>
							<th>Comment</th>
						</tr>
						{% for job in helperDone %}
                            <tr>
                                <td>{{ job.date }}</td>
                                <td>{{ job.category }}</td>
                                <td>{{ job.time }}</td>
                                <td>??</td>
                                <td>{{ job.km }}</td>
                                <td>{{ job.comment }}</td>
                            </tr>
                        {% endfor %}
					</table>
				</td>
			</tr>
			<tr>
				<th>Jobs en attente</th>
				<td>
					<table class = "Second table">
						<tr>
							<th>Date</th>
							<th>Job Cat</th>
							<th>Time Spent</th>
							<th>For Whom</th>
							<th>#KM</th>
							<th>Comment</th>
						</tr>
						{% for job in helpedPending %}
                            <tr>
                                <td>{{ job.date }}</td>
                                <td>{{ job.category }}</td>
                                <td>{{ job.time }}</td>
                                <td>??</td>
                                <td>{{ job.km }}</td>
                                <td>{{ job.comment }}</td>
                            </tr>
                        {% endfor %}
					</table>
			
				</td>
				<td>
					<table class = "Second table">
						<tr>
							<th>Date</th>
							<th>Job Cat</th>
							<th>Time Spent</th>
							<th>For Whom</th>
							<th>#KM</th>
							<th>Comment</th>
						</tr>
						{% for job in helperPending %}
                            <tr>
                                <td>{{ job.date }}</td>
                                <td>{{ job.category }}</td>
                                <td>{{ job.time }}</td>
                                <td>??</td>
                                <td>{{ job.km }}</td>
                                <td>{{ job.comment }}</td>
                            </tr>
                        {% endfor %}
					</table>
				</td>
			</tr>
		</table>
	
	</article>
	
	<article class = "first">
        <h3>Gift :</h3>
        <p>I want to transfer some of my time savings as a gift :</p>
        <p>TODO</p>
    </article>
    
</section>   
    </body>
</html>