{% extends "C4CApplication/FixedStructure.html" %}

{% load staticfiles %}
	
{% block content %}


    <form method="post">
        {% csrf_token %}
        <h3> Choose branch(es) :</h3>
        <ul>
            {% for checkbox in branch_list_form.branch_list %}
                <li>
                    {{ checkbox.tag }} <a href="{% url 'branchdetails' checkbox.choice_label %}" value="branch_details">{{ checkbox.choice_label }}</a>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit changes" class="btn"/>
    </form>


{% endblock %}