{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for checkbox in branch_list_form.branch_list %}
                <li>
                    {{ checkbox }} <a href="{% url 'memberlist' checkbox.choice_label %}">Details</a>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit changes"/>
    </form>
</body>
</html>