{% extends "C4CApplication/JobDetails.html" %}
{% load i18n %}

{% block form_job_done %}
<center>
<form method="post">

<section style="border-width:2px;border-color:navy;border-style:solid;
background-color:#ffffff;padding:1em;margin-top:2em;width:20em; height:auto;text-align: left;">
	{% csrf_token %}
	{% trans "Time spent on the job (minutes) " %} :  <br/>
    <p>{{ confirm_job_done_form }} </p>
    <p><input type="submit" id="Confirm" value={% trans "Confirm" %} class="btn"/></p>


</form>
 </center>
 </section>
{% endblock %}
