{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create job</title>
    <link rel="stylesheet" href="{% static "css/create_job1.css" %}">
</head>
<body>

<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Request details</legend>
        {{ NewJob1Form.title }} <br>
        <p id="job_desc_field">
            {{ NewJob1Form.desc }}
        </p>
    </fieldset>
    <fieldset>
        <legend>Job category</legend>
        <ul>
        {% for choice in NewJob1Form.categories %}
            {% if forloop.last %}
                <li>{{ choice }} : {{ NewJob1Form.other }}</li>
            {% else %}
                <li>{{ choice }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </fieldset>
    <fieldset>
        <legend>Job timeline</legend>
        <ul>
            {% for freq in NewJob1Form.frequency %}
                {% if forloop.first %}
                    <li> {{ freq }}
                        <ul>
                            {% for subfreq in NewJob1Form.subfrequency %}
                                {% if forloop.first %}
                                    <li>{{ subfreq }} : {{ NewJob1Form.specific }}</li>
                                {% else %}
                                    <div class="job_weekdays">
                                        <li>{{ subfreq }} : {{ NewJob1Form.weekdays }}</li>
                                    </div>
                                    <div class="job_dayparts">
                                        {{ NewJob1Form.dayparts }}
                                    </div>
                                    <br><br><br><br><br><br><br><br><br> <!-- TODO Fix this ! -->
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>{{ freq }}
                        <ul>
                            <div class="job_weekdays">
                                {{ NewJob1Form.weekdays }}
                            </div>
                            <div class="job_dayparts">
                                {{ NewJob1Form.dayparts }}
                            </div>
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </fieldset>
    <fieldset>
        <legend>Job visibility</legend>
        {{ NewJob1Form.visibility }}
    </fieldset>
    <input type="submit" value="Post request" />
</form>

</body>
</html>