{% extends "C4CApplication/FixedStructure.html" %}

{% load mathfilters %}

{% load staticfiles %}
	
{% block link %} <link rel="stylesheet" href="{% static "css/create_job.css" %}"> {% endblock %}
{% load i18n %}
{% block content %}

<section style="padding:1em;border-width:2px;border-color:navy;border-style:solid;margin-left:25%;
margin-bottom:2%;margin-top:2%;background-color:#ffffff;width:40%;height:auto;padding-right:4em;padding-left:4em;">
    </br>
<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h3>{% trans "Request details" %}</h3></legend>
        {{ form.title }} <br>
        <p id="job_desc_field">
            {{ form.description }}
        </p>
        {{ form.place }} <br>
        {{ form.branches.label }} : {{ form.branches }}
        {{ form.start_time.label }} : {{ form.start_time}} <br>
        {{ form.duration.label }} : {{ form.duration }} <br>
        {{ form.km.label }} : {{ form.km }} km <br>
    </fieldset>
    </br>
    <fieldset>
        <legend> <h3> {% trans "Job category"%}</h3></legend>
        <ul>
        {% for choice in form.category %}
            {% if forloop.last %}
                <li>{{ choice }} : {{ form.other_category }}</li>
            {% else %}
                <li>{{ choice }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </fieldset>
    </br>
    <fieldset>
        <legend><h3>{% trans "Job timeline"%}</h3></legend>
        <ul>
            {% for freq in form.frequency %}
                {% if forloop.first %}
                    <li> {{ freq }} : {{ form.date }}
{#                        <ul>#}
{#                            {% for subfreq in createJob.subfrequency %}#}
{#                                {% if forloop.first %}#}
{#                                    <li>{{ subfreq }} : {{ createJob.specific }}</li>#}
{#                                {% else %}#}
{#                                    <div class="job_weekdays">#}
{#                                        <li>{{ subfreq }} : {{ createJob.weekdays }}</li>#}
{#                                    </div>#}
{#                                    <div class="job_dayparts">#}
{#                                        {{ createJob.dayparts }}#}
{#                                    </div>#}
{#                                    <br><br><br><br><br><br><br><br><br> <!-- TODO Fix this ! -->#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        </ul>#}
                    </li>
                {% elif forloop.counter == 2 %}
                    <li>{{ freq }} : {{ form.weekdays }}
                    </li>
                {% else %}
                    <li>{{ freq }} :
                        <ul>
                            <li>
                                <table>
                                    <tr>
                                    {% for day in form.dayrange %}
                                        {% if forloop.counter|mod:7 == 0 %}
                                            <td>{{ day }}</td></tr><tr>
                                        {% else %}
                                            <td>{{ day }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </li>
{#                {% else %}#}
{#                    <li>{{ freq }}#}
{#                        <ul>#}
{#                            <div class="job_weekdays">#}
{#                                {{ createJob.weekdays }}#}
{#                            </div>#}
{#                            <div class="job_dayparts">#}
{#                                {{ createJob.dayparts }}#}
{#                            </div>#}
{#                        </ul>#}
{#                    </li>#}
                {% endif %}
            {% endfor %}
        </ul>
    </fieldset>
    </br>
    <fieldset>
        <legend><h3>{% trans "Job visibility"%}</h3></legend>
        {{ form.visibility }}
    </fieldset>
    </br>
    <center><input type="submit" value= {% trans "Post request" %} class ="btn" /> </center>
</form>

{% endblock %}