{% extends "C4CApplication/FixedStructure.html" %}

{% load staticfiles %}
	
{% block link %} <link rel="stylesheet" href="{% static "css/create_job.css" %}"> {% endblock %}
	
{% block content %}

<form method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Request details</legend>
        {{ createJob.title }} <br>
        <p id="job_desc_field">
            {{ createJob.desc }}
        </p>
        <label>Branch : </label>{{ createJob.branches }}
    </fieldset>
    <fieldset>
        <legend>Job category</legend>
        <ul>
        {% for choice in createJob.categories %}
            {% if forloop.last %}
                <li>{{ choice }} : {{ createJob.other }}</li>
            {% else %}
                <li>{{ choice }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </fieldset>
    <fieldset>
        <legend>Job timeline</legend>
        <ul>
            {% for freq in createJob.frequency %}
                {% if forloop.first %}
                    <li> {{ freq }}
                        <ul>
                            {% for subfreq in createJob.subfrequency %}
                                {% if forloop.first %}
                                    <li>{{ subfreq }} : {{ createJob.specific }}</li>
                                {% else %}
                                    <div class="job_weekdays">
                                        <li>{{ subfreq }} : {{ createJob.weekdays }}</li>
                                    </div>
                                    <div class="job_dayparts">
                                        {{ createJob.dayparts }}
                                    </div>
                                    <br><br><br><br><br><br><br><br><br> <!-- TODO Fix this ! -->
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>{{ freq }}
                        <ul>
                            <div class="job_weekdays">
                                {{ createJob.weekdays }}
                            </div>
                            <div class="job_dayparts">
                                {{ createJob.dayparts }}
                            </div>
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </fieldset>
    <fieldset>
        <legend>Job visibility</legend>
        {{ createJob.visibility }}
    </fieldset>
    <input type="submit" value="Post request" />
</form>

{% endblock %}