

{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
{% load i18n %}
{% block menu %}



{% block delete_member_bpa %} 
<center>

<section style="border-width:2px;border-color:navy;border-style:solid;
background-color:#ffffff;padding:1em;width:40%; height:auto;">
<form method="post">
	{% csrf_token %}
	<br/>
	{% trans "Enter the mail of the member to be deleted" %} :  <br/>
    <p>
    {{ delete_member_bpa_form }}</p>
    <input type="submit" value={% trans "Delete" %} class = "btn" onclick="return window.confirm('Are you sure you want to delete this member ?')"/>
    
</form>
</section>
{% endblock %}
{% endblock %}