{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Donate time</title>
    <link rel="stylesheet" href={% static "css/donate_time.css" %}>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Donation message</legend>
            {{ donateTime.message }}
        </fieldset>
        <fieldset>
            <legend>Donation amount</legend>
            {{ donateTime.days }} <label> days, </label>
            {{ donateTime.hours }} <label> hours, </label>
            {{ donateTime.minutes }} <label> minutes. </label>
        </fieldset>
    </form>
</body>
</html>