<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/home_page.css">
</head>

	<!-- Menu de navigation (structure fixe) -->
	<ul class="navbar">
			 <!-- Optionnel

				<li><a href="AboutUs.html">About us</a></li>
				<li><a href="WhatIsCare4Care.html">What is Care4Care ?</a></li>
				<li><a href="HowDoesItWork.html">How does it work ?</a></li>
				<li><a href="Help">Help</a></li>

			-->
			<li><a href="HomePage.html"> <b> <center> HOME</a> </center> </b> </li>
			<li><a href="Branches.html">Care4Care Branches</a></li>
				<ul>
					<li><a href="">Heembeek</a></li>
					<li><a href="">Molenbeek</a></li>
					<li><a href="">Rixensart</a></li>

				</ul>
			<li><a href="Statistics.html">Statistics</a></li>
			<li><a href="Map.html">Map</a></li>
			<li><a href="StartABranch.html">Start a branch ?</a></li>
			<li><a href="News.html">News</a></li>
			<li><a href="Jobs@Care4Care.html">Jobs@Care4Care</a></li>
	</ul>

	


	<form class="login" method="post" style ="left: 39em; top: 2px;">
    <h1> </h1>
    {% csrf_token %}
    {{ favIgnForm.email.errors }}
    {{ favIgnForm.email }} 
    <!-- <input type="email" name="email" class="login-input" placeholder="Email Address" autofocus> -->
    <input type="submit" name = "fav_add_button" value="Add to Favorites" class="login-submit" style ="font-size: 12px;" >
    <input type="submit" name = "ign_add_button" value="Add to Ignored" class="login-submit" style ="font-size: 12px;">
     <input type="submit" name = "fav_rem_button" value="Remove from Favorites" class="login-submit" style ="font-size: 12px;">
    <input type="submit" name = "ign_rem_button" value="Remove from Ignored" class="login-submit" style ="font-size: 12px;">
   </form>
	



	<table class="tab1" style="left:15em; top:24em;" >
	  <tr>
		<th class=".tab1-3" colspan="6">Favorites members</th>
	  </tr>
	  
	  <tr>
		<td class="tab1-4">Name</td>
		<td class="tab1-4">First Name</td>
		<td class="tab1-4"> Mail  </td>

	  </tr>
	  	    
    {% for member in favorite_list %} 
    <tr>
		<td class="tab1-3"> member.first_name    </td>
		<td class="tab1-3">  member.last_name  </td>
		<td class="tab1-3"> member.mail  </td>
	  </tr>
	{% endfor %}
	
	</table>
	
	
	<table class="tab1" style="left:45em; top:24em;" >
	 <tr>
		<th class=".tab1-3" colspan="6">Ignored members</th>
	  </tr>
	  
	  <tr>
		<td class="tab1-4" >Name</td>
		<td class="tab1-4">First Name</td>
		<td class="tab1-4"> Mail  </td>

	  </tr>
	  	    
    {% for member in ignored_list %} 
    <tr>
		<td class="tab1-3"> member.first_name    </td>
		<td class="tab1-3">  member.last_name  </td>
		<td class="tab1-3"> member.mail  </td>
	  </tr>
	{% endfor %}
	
	</table>
	
	