{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
		
{% block menu %}
	
	<form class="login" method="post">
    <h1> </h1>
    {% csrf_token %}
    {{ favIgnForm.email.errors }}
    {{ favIgnForm.email }} 
    <!-- <input type="email" name="email" class="login-input" placeholder="Email Address" autofocus> -->
    <input type="submit" name = "fav_add_button" value="Add to Favorites" class="login-submit" style ="font-size: 12px;" >
   </form>
	

     

	<table class="tab1"" >
	  <tr>
		<th class=".tab1-3" colspan="6">Favorite members</th>
	  </tr>
	  
	  <tr>
		<td class="tab1-4">NAME			</td>
		<td class="tab1-4">FIRST NAME	</td>
		<td class="tab1-4"> MAIL		</td>
		<td class="tab1-4"> 	</td>

	  </tr>
	  	    
        {% for relation in member.relation.all %}
    <tr>
		<td class="tab1-3"> {{relation.first_name}} </td>
		<td class="tab1-3"> {{relation.last_name}}  </td>
		<td class="tab1-3"> {{relation.mail}} 		</td>
		<td class="tab1-3"> <a href="{% url 'removeFavorite' relation.mail %}" type="submit" value="Remove" class="participate-job">Remove</a>  </td>
	</tr>
	{% endfor %}
	
	</table>
{% endblock %}
	