{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
	
<head>
    <meta charset="UTF-8">
	<title>{% block title%}Care4Care{% endblock %}</title>
	<link rel="stylesheet" href="../../static/css/home_page.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	{% block link%} {% endblock%}
</head>
<body>
	
	{% block nav %}
    <!-- Language switcher form -->
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
            {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
        </select>
        <input type="submit" value="Go" />
    </form>

	<!-- Menu de navigation (structure fixe) -->
	<ul class="navbar">
			 <!-- Optionnel
			
				<li><a href="AboutUs.html">About us</a></li>
				<li><a href="WhatIsCare4Care.html">What is Care4Care ?</a></li>
				<li><a href="HowDoesItWork.html">How does it work ?</a></li>
				<li><a href="Help">Help</a></li>
			
			-->
			<li><a href="{% url 'home' %}" id="home"> {% trans "HOME" %} </a></li>
			{% if connected %}
				<li><a href="{% url 'profile' %}"> MyCare4Care</a></li>
			{% endif %}
            {% if connected %}
			    <li><a href="{% url 'branchlist' %}" id="branch_list">  {% trans "Care4Care Branches" %}  </a></li>
            {% else %}
                <li><a href="" id="branch_list">  {% trans "Care4Care Branches" %}  </a></li>
            {% endif %}
				<ul>
					{% if connected %}
						{% for br in member.branch.all %}
							<li><a href="{% url 'branchdetails' br.name %}"> {{ br.name }} </a></li>
						{% endfor %}
					{% else %}
						{% for br in branches %}
							<li><a href="">{{ br.name }}</a></li>
						{% endfor %}
					{% endif %}
				</ul>
	</ul>
	{% endblock %}
	
	{% block content %}

	{% endblock %}
</body>
</html>
