{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	
<head>
	<meta charset="utf-8"/>
	<title>Care4Care - Home Page</title>
	<link rel="stylesheet" href="{% static "css/home_page.css" %}">
</head>

	
<body>
    	
	 <!-- Login/Sign up -->
	 
  <form class="login" method="post" >
    <h1>Care4Care</h1>
    {% csrf_token %}
    {{ loginForm.email.errors }}
    {{ loginForm.email }}
    {{ loginForm.password.errors }}
    {{ loginForm.password }}
    <input type="submit" value="Login" class="login-submit">
    <input type="submit" value="Sign up" class="login-submit">
    <p class="login-help"><a href=# >Forgot password?</a></p>
   </form>



	<!-- Menu de navigation (structure fixe) -->
	<ul class="navbar">
			 <!-- Optionnel
			
				<li><a href="AboutUs.html">About us</a></li>
				<li><a href="WhatIsCare4Care.html">What is Care4Care ?</a></li>
				<li><a href="HowDoesItWork.html">How does it work ?</a></li>
				<li><a href="Help">Help</a></li>
			
			-->
			<li><a href="HomePage.html"> <b> <center> HOME </center> </b> </a></li>
			<li><a href="Branches.html">Care4Care Branches</a></li>
				<ul>
					<li><a href="">Heembeek</a></li>
					<li><a href="">Molenbeek</a></li>
					<li><a href="">Rixensart</a></li>
					
				</ul>
			<li><a href="Statistics.html">Statistics</a></li>
			<li><a href="Map.html">Map</a></li>
			<li><a href="StartABranch.html">Start a branch ?</a></li>
			<li><a href="News.html">News</a></li>
			<li><a href="Jobs@Care4Care.html">Jobs@Care4Care</a></li>
	</ul>
		
	


	<!-- Galerie photos -->
	<center>
	<table style="margin-top:50px; margin-left:0px; border: 2px solid navy;"> 
	<tr> 
		<td><img src="{% static "images/retraite.jpg"%}" alt="titre" width= 240px height= 200px /></td>
		<td ><img src="{% static "images/care.jpg"%}" alt="titre" width= 240px height= 200px /></td>
		<td ><img src="{% static "images/old.jpg"%}" alt="titre" width= 240px height= 200px/></td>
	</tr> 
	</table> 
	</center>



	<!-- Buttons -->
	<center> <h1> Welcome on Care4Care !</h1> 
		<a href="#" class="myButton">I want to help</a>
	<span>
	<a href="newjob1/" class="myButton">I need help</a>
	</span>
	</center>



    <!-- Feed tables -->
    
        <!-- Job offers table -->
	
	<table class="tab1" style="left:10em" >
	  <tr>
		<th class=".tab1-3" colspan="6">Recent feeds of offer</th>
	  </tr>
	  <tr>
		<td class="tab1-4">Job category</td>
		<td class="tab1-4">Title</td>
		<td class="tab1-4">Location</td>
	  </tr>
	  <tr>
		<td class="tab1-3"> <a href="#">Computing  </a></td>
		<td class="tab1-3"> <a href="#">Faire mes devoirs en IA  </a></td>
		<td class="tab1-3"> <a href="#">Louvain-La-Neuve, salle Intel  </a></td>
	  </tr>
	  <tr>

		<td class=" tab1-3"><a href="#"> Esclave  </a></td>
		<td class="tab1-3"> <a href="#">Terminer ses pages .html de m*****  </a></td>
		<td class=" tab1-3"> <a href="#"> DMC ?  </a></td>  </tr>

	  <tr>
		<td class="tab1-3"> <a href="#">........ </a></td>
		<td class="tab1-3"> <a href="#">........ </a></td>
		<td class="tab1-3"> <a href="#">........ </a></td>
	  </tr>
	</table>
       
     
        <!-- Job demands table -->
	<table class="tab1" style="left:42em" >
	  <tr>
		<th class=".tab1-3" colspan="6">Recent feeds of demand</th>
	  </tr>
	  <tr>
		<td class="tab1-4">Job category</td>
		<td class="tab1-4">Title</td>
		<td class="tab1-4">Location</td>
	  </tr>
	  <tr>
		<td class="tab1-3"> <a href="#">........ </a></td>
		<td class="tab1-3"> <a href="#"> Armand Bosquillon pue de la gueule </a></td>
		<td class="tab1-3"> <a href="#">........ </a></td>
	  </tr>
	  <tr>
		<td class=" tab1-3"> <a href="#">........ </a></td>
		<td class="tab1-3"> <a href="#">........ </a></td>
		<td class=" tab1-3"> <a href="#">........ </a></td>  </tr>
	  <tr>
		<td class="tab1-3"> <a href="#">........ </a></td>
		<td class="tab1-3"> <a href="#">........ </a></td>
		<td class="tab1-3"> <a href="#">........ </a></td>
	  </tr>
	</table>
	


	
</body>	
</html>
