{% extends "C4CApplication/FixedStructure.html" %}

{% load staticfiles %}
	
{% block content %}
    	
	 <!-- Login/Sign up -->
	{% if not connected %}
	    <form class="login" method="post" >
	    <h1>Care4Care</h1>
	    {% csrf_token %}
	    {{ loginForm.email.errors }}
	    {{ loginForm.email }}
	    {{ loginForm.password.errors }}
	    {{ loginForm.password }}
	    <input type="submit" value="Login" class="login-submit">
	    <input type="button" value="Sign up"  class ="login-submit" onclick="self.location.href='inscription'">
	    <p class="login-help"><a href=# >Forgot password?</a></p>
	    </form>
	{% else %}
		<form class="login" method="post" >
	    <h1>Care4Care</h1>
	    Hello {{ member.first_name }} {{ member.last_name }} ! <br/> <br/>
	    <a href="{% url 'logOut' %}" class="btn" value="Logout">Logout</a>
	    </form>
	{% endif %}

	<!-- Buttons -->
	<center> <h1> Welcome on Care4Care !</h1> 
		<a href="{% url 'createJob' 'offer' %}" class="myButton">I want to help</a>
	<span>
	<a href="{% url 'createJob' 'demand' %}" class="myButton">I need help</a>
	</span>
	</center>
	
	<!-- Galerie photos -->
	<center>
	<table style="margin-top:50px; margin-left:0px; border: 2px solid navy;"> 
	<tr> 
		<td><img src="{% static "images/retraite.jpg"%}" alt="titre" width= 240px height= 200px /></td>
		<td ><img src="{% static "images/care.jpg"%}" alt="titre" width= 240px height= 200px /></td>
		<td ><img src="{% static "images/old.jpg"%}" alt="titre" width= 240px height= 200px/></td>
	</tr> 
	</table> 
	</center>


    <!-- Feed tables -->
  <!-- Job offers table -->
	
	<table class="tab1" style="left:10em" >
	  <tr>
		<th class=".tab1-3" colspan="6">Recent feeds of offer</th>
	  </tr>
	  
	  <tr>
		<td class="tab1-4">Job category</td>
		<td class="tab1-4">Description</td>
		<td class="tab1-4">Location</td>
	  </tr>
	  	    
    {% for job in offer_list %} 
    <tr>
		<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {% for key, value in job.CAT %}
											{% if key == job.category %}
												{{ value }}
												{% endif %}
 											   {% endfor %}   </a></td>
		<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.description|truncatewords:10  }} </a></td>
		<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.address }} </a></td>
	  </tr>
	{% endfor %}
	
	</table>
       
     
        <!-- Job demands table -->
	<table class="tab1" style="left:42em" >
	  <tr>
		<th class=".tab1-3" colspan="6">Recent feeds of demand</th>
	  </tr>
	  <tr>
		<td class="tab1-4">Job category</td>
		<td class="tab1-4">Title</td>
		<td class="tab1-4">Location</td>
	  </tr>
	  
	   {% for job in demand_list %} 
	  <tr>
		<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}">
											{% for key, value in job.CAT %}
											{% if key == job.category %}
												{{ value }}
												{% endif %}
 											   {% endfor %}  </a></td>
		<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.description|truncatewords:10  }} </a></td>
		<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.address }} </a></td>
	  </tr>
	   {% endfor %}
	   
	</table>
	
{% endblock %}
