{% extends "C4CApplication/FixedStructure.html" %}

{% load staticfiles %}
{% load i18n %}
{% block content %}
    	
	 <!-- Login/Sign up -->
	{% if not connected %}
	    <form class="login" method="post" >
	    <h1>Care4Care</h1>
	    {% csrf_token %}
	    {{ loginForm.email.errors }}
	    {{ loginForm.email }}
	    {{ loginForm.password.errors }}
	    {{ loginForm.password }}
	    <input type="submit" value={% trans "Login" %} class="login-submit">
	    <input type="button" value= {% trans "Sign up"%}  class ="login-submit" onclick="self.location.href='registration'">
	    <p class="login-help"><a href=# >{% trans "Forgot password"%}?</a></p>
	    </form>
	{% else %}
		<form class="login" method="post" >
	    <h1>Care4Care</h1>
	       <center><h3> {% trans "Hello"%} {{ member.first_name }} {{ member.last_name }} !</h3> <br/>
	 <a href="{% url 'logOut' %}" class="btn" value= {% trans "Logout" %}> {% trans "Logout" %}</a> </center>
	    </form>
	{% endif %}

	<!-- Buttons -->
	<center> <h1 style="margin-bottom:1em;"> {% trans "Welcome on Care4Care"%} !</h1> 
		<a href="{% url 'createJob' 'demand' %}" class="myButton">{% trans "I need help"%}</a>
	<span>
	<a href="{% url 'createJob' 'offer' %}" class="myButton"> {% trans "I want to help" %}</a>
	</span>
	
	
	<!-- Galerie photos -->

	<table style="margin-top:50px; margin-left:0px; border: 3px solid navy; "> 
	<tr>
        <!--  <td ><img src="{% static "images/thumb.jpg"%}" alt="titre" width= 240px height= 200px/></td> -->
		<td><img src="{% static "images/retraite.jpg"%}" alt="titre" width= 240px height= 200px /></td>
		<td ><img src="{% static "images/care.jpg"%}" alt="titre" width= 240px height= 200px /></td>
		<td ><img src="{% static "images/old.jpg"%}" alt="titre" width= 240px height= 200px/></td>
        <!--  <td ><img src="{% static "images/swag.jpg"%}" alt="titre" width= 240px height= 200px/></td> -->
	</table> 




    <!-- Feed tables -->
  <!-- Job offers table -->

	<table style="margin-top:3em;">
<td valign="top">
	<table class="tab1"  >
	  <tr>
		<th class=".tab1-3" colspan="6"> {% trans "Recent feeds of offer"%}</th>
	  </tr>
	  
	  <tr>
		<td class="tab1-4">{% trans "Job category"%}</td>
		<td class="tab1-4">{% trans "Title"%}</td>
		<td class="tab1-4">{% trans "Location"%}</td>
	  </tr>
	  	    
    {% for job in offer_list %}
	    <tr>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}" class="job_offer" > {% for key, value in job.CAT %}
												{% if key == job.category %}
													{{ value }}
													{% endif %}
	 											   {% endfor %}   </a></td>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.title|truncatewords:10  }} </a></td>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.place }} </a></td>
		 </tr>
	{% endfor %}
	
</table>
        </td>
        
        <!-- Job demand table -->
  <td valign="top">
	<table class="tab1" style="margin-left:1em;" >
	  <tr>
		<th class=".tab1-3" colspan="6">{% trans "Recent feeds of demand"%}</th>
	  </tr>
	  <tr>
		<td class="tab1-4">{% trans "Job category"%}</td>
		<td class="tab1-4">{% trans "Title"%}</td>
		<td class="tab1-4">{% trans "Location"%}</td>
	  </tr>
	  
	  {% for job in demand_list %}
		  <tr>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}" class="job_demand">
												{% for key, value in job.CAT %}
												{% if key == job.category %}
													{{ value }}
													{% endif %}
	 											   {% endfor %}  </a></td>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.title|truncatewords:10  }} </a></td>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.place }} </a></td>
		  </tr>
	  {% endfor %}
	   
	</table>
	</td>
	</table>	
</center>
	
{% endblock %}
