{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
	{% load mathfilters %}
	{% load i18n %}
	
{% block menu2 %}	


  
 
{% if not job.payed and job.accepted and job.done  %}
	{% block accept_bill %}
	{% endblock %}
{% endif %}


{% if not job.done and job.accepted %}
	{% block form_job_done %}
	{% endblock %}
{% endif %}




		
<center style="margin:2em;">
	<table class="tab1" style="" >
	  <tr>
		<th class=".tab1-3" colspan="6"> <p>{% trans "Job details" %}</p>
		<p>
		

		
		{% if not job.accepted and member.mail != job.mail %}
			{% if member in job.member_set.all %}


				<a href="{% url 'participatejob' job.id 'no_response@care4care.com' %}" type="submit" id="participate_button" value="Stop_Participate" class="btn">{% trans "Stop participating" %}</a>
			{% else %}
                {% if job.frequency == 0 %}
				    <a href="{% url 'participatejob' job.id 'no_response@care4care.com' %}" type="submit" id="participate_button" value="Participate" class="btn">{% trans "Participate" %}</a>
                {% endif %}
			{% endif %}
		{% endif %}
		{% if not job.accepted and job.mail == member.mail  or member.tag > 15 %}
            {% if member.tag == job.branch.branch_officer or member.tag > 16 %}
			    <a href="{% url 'participatejob' job.id member.mail %}" type="submit" id="delete_job" value="DeleteJob" class="btn">{% trans "Delete job"%}</a> </br>
            {% endif %}
		{% endif %}
		
		{% if not job.done and job.accepted and job.mail != member.mail and member in job.member_set.all %}
		</br>
		<a href="{% url 'confirmjobdone' job.id %}" class="btn">{% trans "My job is done"%}</a> 
	
        {% endif %}
		
		{% if not job.payed and job.accepted and job.done and job.mail == member.mail %}
		</br>
		<a href="{% url 'acceptBill' job.id %}" class="btn">{% trans "Pay the helper"%}</a> 
	
        {% endif %}
		
		
		
		
		</p>
		
		</th>
	  </tr>
	  
    <tr>
		<td class="tab1-4">    
		{% trans "Creator of the job"%} :    </td>
		<td class="tab1-3">   {% for mem in job.member_set.all %}
			{% if mem.mail == job.mail %}
				<a href="{% url 'memberdetails' mem.mail %}" type="submit">{{mem.first_name}} {{mem.last_name}}</a>
			{% endif %}
		{% endfor %} <br/>      </td>
		
   </tr>
	  
	  {% if job.regular_job != None %}
		  <tr>
			<td class="tab1-4"> {% trans "Regular job"%} :    </td>
			<td class="tab1-3">
				<a href="{% url 'jobdetails' job.regular_job.id %}" type="submit" value="get_regular" class="get_regular">{% trans "Go to the regular job"%}</a>
			</td>
			
		  </tr>
	  {% endif %}
	  
	  {% if job.frequency == 0 %}
		  <tr>
			<td class="tab1-4">     {% trans "Date of the job"%} : </td>
			
			<td class="tab1-3">     {{ job.date }}    </td>
			
		  </tr>
	  {% endif %}
	  
	  	 <tr>
		<td class="tab1-4">     {% trans "Mail"%} : </td>
		
		<td class="tab1-3">     
		<a href="{% url 'newmessage' %}" type="submit" value="ChoiceMember"> {{ job.mail }}  </a> </td>
		
	  </tr>
		 
	 <tr>
		<td class="tab1-4">{% trans "Hour of the start"%} :    </td> 
		
		
	
		<td class="tab1-3"> {% if job.start_time|mod:60 < 10 %}
		 {{ job.start_time|intdiv:60 }}:0{{job.start_time|mod:60}}  
		 {% else %}
		{{ job.start_time|intdiv:60 }}:{{job.start_time|mod:60}} 
		{% endif %} <br/>  </td>
		
	  </tr>
	  
	  
	  <tr>
		<td class="tab1-4">    {% trans "Frequency"%} :    </td>
		<td class="tab1-3">      
		{% for key, value in job.FREQ %}
			{% if key == job.frequency %}
				{{ value }}
			{% endif %}
		{% endfor %} <br/>   </td>
		
	  </tr>
	  <tr>
		<td class="tab1-4">    
		Km :    </td>
		<td class="tab1-3">   
		 {{ job.km }} <br/>      </td>
		
	  </tr>
	  <tr>
		<td class="tab1-4">  {% trans "Duration"%} :       </td>
		<td class="tab1-3">     {% if job.duration|mod:60 < 10 %}
			{{ job.duration|intdiv:60 }}h0{{job.duration|mod:60}}
		{% else %}
			{{ job.duration|intdiv:60 }}h{{job.duration|mod:60}}
		{% endif %} <br/>    </td>
		
	  </tr>
	  <tr>
		<td class="tab1-4">    {% trans "Category"%} :    </td>
		<td class="tab1-3">   
		{% for key, value in job.CAT %}
			{% if key == job.category %}
				{{ value }}
				{% if key == 4 %}
					: {{ job.other_category }}
				{% endif %}
			{% endif %}
		{% endfor %} <br/>      </td>
		
	  </tr>
	  <tr>
		<td class="tab1-4">  
		{% trans "Type of job"%} :      </td>
		<td class="tab1-3">    
		{% if job.type %}
			{% trans "Demand"%}
		{% else %}
			{% trans "Offer"%}
		{% endif %} <br/>     </td>
		
	  </tr>
	  
	  <tr>
		<td class="tab1-4">     {% trans "Address"%} :   </td>
		<td class="tab1-3"> {{ job.place }} <br/>    </td>
	  </tr>
	
	 {% if job.frequency == 0 %}
	 <tr>
		<td class="tab1-4">   {% trans "Job accepted"%} :     </td>
		<td class="tab1-3">
			{% if job.accepted %}
				{% trans "Yes" %}
			{% else %}
				{%trans "No" %}
			{% endif %}
		</td>
		
	  </tr>
	  
	  
	   <tr>
		<td class="tab1-4">  {% trans "Job done"%} :      </td>
		<td class="tab1-3">  
			{% if job.done %}
				{% trans "Yes" %}
			{% else %}
				{%trans "No" %}
			{% endif %}     
		</td>
		
	  </tr>
	  
	  
	   <tr>
		<td class="tab1-4">  {% trans "Job payed"%} :      </td>
		<td class="tab1-3">    
			{% if job.payed %}
				{% trans "Yes" %}
			{% else %}
				{%trans "No" %}
			{% endif %}
		</td>
		
	  </tr>
	  
	  {% endif %}
	
	 
	   <tr>
		<td class="tab1-4">    {% trans "Visibility of the job"%} :    </td>
		<td class="tab1-3">     
			{{ visibility }}
		</td>
		
	  </tr>
	  
	   
	   <tr>
		<td class="tab1-4">  {% trans "Branch"%} :       </td>
		<td class="tab1-3">      <a href="{% url 'branchdetails' job.branch.name %}" type="submit" value={% trans "branch"%} class="branch">{{ job.branch.name }}</a>   </td>
		
	  </tr>
	  
	   
	   <tr>
		<td class="tab1-4">   {% trans "Description"%} :     </td>
		<td class="tab1-3">     {{ job.description }}      </td>
		
	  </tr>

	   {% if job.frequency == 0 %}
		   <tr>
			<td class="tab1-4">  {% trans "Participants"%} :      </td>
			<td class="tab1-3">  
			
			
			<table>
			 {% for mem in job.member_set.all %}
			 <tr>
			
			 <td style="border:none;"> <a href="{% url 'memberdetails' mem.mail %}">{{mem.first_name}} {{mem.last_name}}</a> </td> 
					{% if not job.accepted and mem.mail != member.mail %}
						{% if member.mail == job.mail %}
			<td style="border:none;">	<a href="{% url 'participatejob' job.id mem.mail %}"  id="choose_this_member" class="btn" style="font-size:80%;"> 
					 {% trans "Choose this member"%} </a></td>
					
						{% endif %}
					{% endif %}
			</tr>
			{% endfor %}
			</table>
	
		
		</td>
			
		  </tr>

	  {% elif member.mail != job.mail and member in job.branch.member_set.all %}
	     <tr>
			<td class="tab1-4">  {% trans "Occurence of the job"%} :      </td>
			<td class="tab1-3">
				<form method="post">
   			 	{% csrf_token %}
   			 			{% trans "Possibilities"%} : <br/>
   			 			{{form.proposition}}
   			 			<input type="submit" value={% trans "Participate"%} />
   			 	</form>
			 </td>
			
		  </tr>
	  {% endif %}
	
	

	</table> </br> </br>
	
	<!-- Table for the job(s) of the regular job -->
	
	{% if job.frequency != 0 %}
		<table class="tab1" style="top:27em" >
			<tr>
				<th>{% trans "Date of the job"%}</th>
				<th>{% trans "Participants"%}</th>
				<th>{% trans "Accepted"%}</th>
				<th>{% trans "Done"%}</th>
				<th>{% trans "Payed"%}</th>
				<th>{% trans "Action"%}</th>
			</tr>
			{% for j in job.job_set.all %}
				<tr>
					<td><a href="{% url 'jobdetails' j.id %}">{{j.date}}</a></td>
					<td>
						<ul>
							{% for participant in j.member_set.all %}
								<li><a href="{% url 'memberdetails' participant.mail %}">{{participant.first_name}} {{participant.last_name}}</a></li>
							{% endfor %}
						</ul>
					</td>
					<td>{% if j.accepted %}
                            {% trans "Yes" %}
                        {% else %}
                            {%trans "No" %}
                        {% endif %}
                    </td>
					<td>{% if j.done %}
                            {% trans "Yes" %}
                        {% else %}
                            {%trans "No" %}
                        {% endif %}
                    </td>
					<td>{% if j.payed %}
                            {% trans "Yes" %}
                        {% else %}
                            {%trans "No" %}
                        {% endif %}
                    </td>
					<td>
						{% if not j.accepted and member.mail != j.mail and member in job.branch.member_set.all %}
							{% if member in j.member_set.all %}
								<a href="{% url 'participatejob' j.id 'no_response_regular@care4care.com' %}" type="submit" value="Stop_Participate" class="btn">{% trans "Stop participating"%}</a><br>
                                <a href="{% url 'jobdetails' j.id %}" class = btn>{% trans "Details"%}</a>
							{% else %}
								<a href="{% url 'participatejob' j.id 'no_response_regular@care4care.com' %}" type="submit" value="Participate" class="btn">{% trans "Participate"%}</a><br>
                                <a href="{% url 'jobdetails' j.id %}" class = btn>{% trans "Details"%}</a>
							{% endif %}
                        {% else %}
                            <a href="{% url 'jobdetails' j.id %}" class = btn>{% trans "Details"%}</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}


		</center>
		
	 {% endblock %}
	 
