{% extends "C4CApplication/FixedStructure.html" %}

{% load staticfiles %}
	{% load mathfilters %}
{% block content %}




<!-- Navbar -->
<center>
<table style="top:1em; margin-left:0px;margin-bottom:2em; ">
<tr>    {% comment %} TODO Change this to id="XButton" for each X {% endcomment %}
	<td><a href="{% url 'messageList' 1 %}" class="btn" style="border-bottom: 5px solid navy;">Messages</a></td>
	<td><a href="{% url 'profile' member.mail %}" class="btn" style="border-bottom: 5px solid navy;">Profile</a></td>
    <!-- <td><a href="#" class="myButton">Personal Network</a></td> -->
    <td><a href="{% url 'favorites' %}" class="btn" style="border-bottom: 5px solid navy;">Favorites</a></td>
    <td><a href="{% url 'accountstats' %}" class="btn" style="border-bottom: 5px solid navy;">Account & Stats</a></td>
      {% if member.tag == 32 %} {% comment %} If we have a bp administrator {% endcomment %}
        
      <td> <a href="{% url 'createbranch' %}" class="btn" style="padding: 5px 15px 5px 15px;border-bottom: 5px solid navy;">New branch</a></td>
  <td>  <a href="{% url 'deletememberbpa' %}" class="btn" style="padding: 5px 15px 5px 15px;border-bottom: 5px solid navy;">Delete a member</a> </td> 
     <td> <a href="{% url 'transferrights' %}" class="btn" style="padding: 5px 15px 5px 15px;border-bottom: 5px solid navy;">Transfer rights</a></td>
 
    {% endif %}
    
        <td><a href="{% url 'logOut' %}" class="btn" value="Logout" style="border-bottom: 5px solid navy;">Logout</a></td>  {% comment %} TODO Change this to id="logoutButton" {% endcomment %}
    <!-- <td><a href="#" class="myButton">Agenda</a></td> -->
  
</tr>
</table>



    {% block accept_bill %}
		{% endblock %}

<center>
	<table class="tab1" style="top:27em" >
	  <tr>
		<th class=".tab1-3" colspan="6"> <p>Job details</p>
		<p>
		{% if not job.accepted and member.mail != job.mail %}
			{% if member in job.member_set.all %}
			 
		       
				<a href="{% url 'participatejob' job.id 'no_response@care4care.com' %}" type="submit" value="Participate" class="btn" ">Stop participating</a>
			{% else %}
				<a href="{% url 'participatejob' job.id 'no_response@care4care.com' %}" type="submit" value="Participate" class="btn" ">Participate</a></br>
			{% endif %}
		{% endif %}
		
		{% if not job.accepted and job.mail == member.mail %}
			<a href="{% url 'participatejob' job.id member.mail %}" type="submit" value="DeleteJob" class="btn" ">Delete job</a> </br>
		</p>
		{% endif %}
		
		</th>
	  </tr>
	  
    <tr>
		<td class="tab1-4">    
		Createur du job :    </td>
		<td class="tab1-3">   {% for mem in job.member_set.all %}
			{% if mem.mail == job.mail %}
				<a href="{% url 'memberdetails' mem.mail %}" type="submit" value="ChoiceMember" class="participate-job">{{mem.first_name}} {{mem.last_name}}</a>
			{% endif %}
		{% endfor %} <br/>      </td>
		
	  </tr>
	 <tr>
		<td class="tab1-4">     Date of the job : </td>
		
		<td class="tab1-3">     {{ job.date }}    </td>
		
	  </tr>
	  
	  	 <tr>
		<td class="tab1-4">     Mail : </td>
		
		<td class="tab1-3">     
		<a href="{% url 'newmessage' %}" type="submit" value="ChoiceMember" class="participate-job"> {{ job.mail }}  </a> </td>
		
	  </tr>
		 
	 <tr>
		<td class="tab1-4">  Hour of the start :    </td> 
		
		
	
		<td class="tab1-3"> {% if job.start_time|mod:60 < 10 %}
		 {{ job.start_time|intdiv:60 }}:0{{job.start_time|mod:60}}  
		 {% else %}
		{{ job.start_time|intdiv:60 }}:{{job.start_time|mod:60}} 
		{% endif %} <br/>  </td>
		
	  </tr>
	  
	  
	  <tr>
		<td class="tab1-4">    Frequency :    </td>
		<td class="tab1-3">      
		{% for key, value in job.FREQ %}
			{% if key == job.frequency %}
				{{ value }}
			{% endif %}
		{% endfor %} <br/>   </td>
		
	  </tr>
	  <tr>
		<td class="tab1-4">    
		Km :    </td>
		<td class="tab1-3">   
		 {{ job.km }} <br/>      </td>
		
	  </tr>
	  <tr>
		<td class="tab1-4">  Time :       </td>
		<td class="tab1-3">     {% if job.time|mod:60 < 10 %}
			{{ job.time|intdiv:60 }}h0{{job.time|mod:60}}
		{% else %}
			{{ job.time|intdiv:60 }}h{{job.time|mod:60}}
		{% endif %} <br/>    </td>
		
	  </tr>
	  <tr>
		<td class="tab1-4">    Category :    </td>
		<td class="tab1-3">   
		{% for key, value in job.CAT %}
			{% if key == job.category %}
				{{ value }}
			{% endif %}
		{% endfor %} <br/>      </td>
		
	  </tr>
	  <tr>
		<td class="tab1-4">  
		Type of job :      </td>
		<td class="tab1-3">    
		{% if job.type %}
			Demand
		{% else %}
			Offer
		{% endif %} <br/>     </td>
		
	  </tr>
	  <tr>
		<td class="tab1-4">     Address :   </td>
		<td class="tab1-3">    	 {{ job.address }} <br/>    </td>
		
	  </tr>
	
	
	 <tr>
		<td class="tab1-4">   Job accepted :     </td>
		<td class="tab1-3">     {{ job.accepted }}    </td>
		
	  </tr>
	  
	  
	   <tr>
		<td class="tab1-4">  Job done :      </td>
		<td class="tab1-3">  {{ job.done }}      </td>
		
	  </tr>
	  
	  
	  
	   <tr>
		<td class="tab1-4">  Job payed :      </td>
		<td class="tab1-3">     {{ job.payed }}    </td>
		
	  </tr>
	
	 
	   <tr>
		<td class="tab1-4">    Visibility of the job :    </td>
		<td class="tab1-3">     
		{% for key, value in job.JOB_VISIBILITY_TUPLE %}
			{% if key == job.visibility %}
				{{ value }}
			{% endif %}
		{% endfor %}    </td>
		
	  </tr>
	  
	   
	   <tr>
		<td class="tab1-4">  Branch :       </td>
		<td class="tab1-3">      {{ job.branch.name }}   </td>
		
	  </tr>
	  
	   
	   <tr>
		<td class="tab1-4">   Description :     </td>
		<td class="tab1-3">     {{ job.description }}      </td>
		
	  </tr>
	  
	   <tr>
		<td class="tab1-4">  Participants :      </td>
		<td class="tab1-3">   <ul>
		{% for mem in job.member_set.all %}
			<li>
				{{mem.first_name}} {{mem.last_name}}
				{% if not job.accepted and mem.mail != member.mail %}
					{% if member.mail == job.mail %}
						<a href="{% url 'participatejob' job.id mem.mail %}" class="myButton2" style ="color:#ffffff;"> Choose this member</a>
					{% endif %}
				{% endif %}
			</li>
		{% endfor %}
		</ul>
		      </td>
		
	  </tr>
	
	

	</table>
		
	{% endblock %}
		
		
		{% block form_job_done %}
		{% endblock %}
		</center>		
		
