{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
		
{% block menu %}

<a href="/list_messages/1">Received Messages</a>
<a href="/list_messages/0">Sent Messages</a>


   	<table class="tab1" style="left:19em;top:16em;margin-top:3em;" >
   	
	  <tr>
		<th class=".tab1-3" colspan="6"> {% if received == '1' %} Received Messages {% else %} Sent Messages {% endif %}</th>
	  </tr>
		  <tr>
		<td class="tab1-4">Sender</td>
	  <td class="tab1-4">Subject</td>
	  <td class="tab1-4">Date</td>
	  <td class="tab1-4">Content</td>
		
	  </tr><tr>
	    {% for message in object_list %}
	  <td class="tab1-3"> <p>{{message.member_sender.first_name }} {{message.member_sender.last_name}}</p>
	  <a href="{% url 'newmessage' %}" type="submit" value="new_message" class="new_message">{{ message.member_sender.mail }}</a> </td>
	  <td class="tab1-3">{{message.subject }}</td>
	  <td class="tab1-3">{{message.date }}</td>
	  <td class="tab1-3">	<p>{{ message.content|truncatewords_html:10 }}</p>
			<p><a href="{% url 'message' message.id %}" class = btn>Read more</a></td>
	  </tr>
	    <tr>
		{% endfor %}
		</tr>
	  
{% endblock %}