{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
{% load i18n %}
{% block link %}<link rel="stylesheet" href="../../static/css/profile.css">{% endblock %}

{% block menu %}




   	<section style="text-align: center; margin-top:3em;">
	      <table class="tab1" style="top:18em;" >
	   	
		  <tr>
			<th class=".tab1-3" colspan="6">
			 {% if received == '1' %}
			  <p> {% trans "Received Messages"%} </p>
			  <p><a href="/list_messages/0" class = "btn";    >  {% trans "Switch to Sent Messages"%}</a></p>
			  <p>
			  <a href="{% url 'newmessage' %}" type="submit" value="new_message" class="btn">{% trans "Write a new message"%}</a>
			  </p>
			
			{% else %} 
			<p> Sent Messages <p>
			 <p><a href="/list_messages/1" class = "btn";>  {% trans "Switch to Received Messages"%}</a></p>
            <p> <a href="{% url 'newmessage' %}" type="submit" value="new_message" class="btn">{% trans "Write a new message"%}</a>
			  </p></p>			
			{% endif %}
			</th>
		  </tr>
		  
		  <tr>
          {% if received == '1' %}
		    <td class="tab1-4">{% trans "Sender"%}</td>
          {% else %}
		    <td class="tab1-4">{% trans "Receiver"%}</td>
          {% endif %}

		  <td class="tab1-4">{% trans "Subject"%}</td>
		  <td class="tab1-4">{% trans "Date"%}</td>
		  <td class="tab1-4">{% trans "Content"%}</td>
		  </tr>

		  {% for message in object_list %}
                  <tr>
                      <td class="tab1-3">

                          {% if received == '1' %}
                              <p>{{message.member_sender.first_name }} {{message.member_sender.last_name}}</p>
                              <a href="{% url 'newmessage' %}" type="submit" value="new_message" class="new_message">{{ message.member_sender.mail }}</a>
                          {% else %}
                              {% for mailbox in message.mailbox_set.all %}
                                  <p>{{mailbox.member_receiver.first_name }} {{mailbox.member_receiver.last_name}}</p>
                                  <a href="{% url 'newmessage' %}" type="submit" value="new_message" class="new_message">{{ mailbox.member_receiver.mail }}</a>
                              {% endfor %}
                          {% endif %}
                      </td>
                      <td class="tab1-3">{{message.subject }}</td>
                      <td class="tab1-3">{{message.date }}</td>
                      <td class="tab1-3">	<p>{{ message.content|truncatewords_html:10 }}</p>
                            <p><a href="{% url 'message' message.id %}" class = btn>{% trans "Read more"%}</a></td>
                  </tr>
		  {% endfor %}
		</table>
			  
		
	  </section>
{% endblock %}