{% extends "C4CApplication/FixedStructure.html" %}

{% load staticfiles %}
	
{% block content %}


  <center> <h1> 
	    	{{ member_shown.first_name}} {{ member_shown.last_name }} :
	    	{% if member_shown.status %}
	    		{% if member.mail == member_shown.mail %}
	    			<a href="{% url 'changeActivity' %}" value="activity">Actif</a>
	    		{% else %}
	    			Actif
	    		{% endif %}
	    	{% else %}
	    		{% if member.mail == member_shown.mail %}
	    			<a href="{% url 'changeActivity' %}" value="activity">Inactif</a>
	    		{% else %}
	    			Inactif
	    		{% endif %}
	    	{% endif %}
	    </h1>
	    
	    
	
    
         <table class="tab1"  style ="top:9em; left:28em;" >
	  <tr>
		<th class=".tab1-3" colspan="6">Member details</th>
	  </tr>
	  
	  <tr>
		<td class="tab1-4">Type of member : </td>
		<td class="tab1-3">{% for key, value in member_shown.TAG_CHOICE %}
	    		{% if key == member_shown.tag %}
					{{ value }}
				{% endif %}
	    	{% endfor %}</td>
	  </tr>
	   
	   
	   <tr>
		<td class="tab1-4">Branch(es) : </td>
		<td class="tab1-3">
		    	{% for branch in member_shown.branch.all %}
		    		<li> {{ branch.name }} </li>
		    	{% endfor %}
		    </td>
	  </tr>
	   
	   <tr>
		<td class="tab1-4">Email : </td>
		<td class="tab1-3"><a href="{% url 'newmessage' %}" type="submit" value="new_message" class="new_message">{{ member_shown.mail }}</a></td>
	  </tr>
	   
      <tr>
		<td class="tab1-4">Register date : </td>
		<td class="tab1-3">{{ member_shown.register_date }}</td>
	  </tr>
	  
	   <tr>
		<td class="tab1-4">Address : </td>
		<td class="tab1-3">{{ member_shown.address }}</td>
	  </tr>
	  
	  {% if member_shown.telephone %}
	  <tr>
		<td class="tab1-4">Fixed phone number : </td>
		<td class="tab1-3">{{ member_shown.telephone }}</td>
	  </tr>
	     {% endif %}
	
	    {% if member_shown.mobile %}
	    <tr>
		<td class="tab1-4">Mobile phone number :</td>
		<td class="tab1-3"> {{ member_shown.mobile }}</td>
	  </tr>
	    {% endif %}
	    
	    
	    
	    {% if member.mail != member_shown.mail and member_shown not in member.relation.all %}
	    	<a href="{% url 'memberdetailsredirect' member_shown.mail %}" type="submit" value="AddRelation" 
	    	class="myButton2">Add as a friend</a> <br/>
	    {% endif %}

        {% if is_branch_officer or member.tag == 32 %}
            <p><a href="{% url 'loginasmember' member_shown.mail %}" class="myButton2"  style ="color: #ffffff;">Log as member</a></p>
        {% endif %}
        </table>
	    </center>
	    
{% endblock %}
	

