<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <header>
        <h1>
            {{ branch.name }}
        </h1>
        <p>Area : {{ branch.town }}</p>
        <p>Current donation amount : {{ branch.donation }}</p>
        <p>Address of Branch office : {{ branch.address }}</p>
        <p>Branch officer's email : {{ branch.branch_officer }}</p>
    </header>
    <h2>List of members</h2>
    <section>
        <ul>
            {% for member in member_list %}
                <li><a href="{% url 'memberdetails' member.mail %}">{{ member.first_name }} {{ member.last_name }}</a>
                    {% if current_member.tag == 16 and branch.branch_officer == current_member.mail or current_member.tag == 32 %} {% comment %} If the member is a bp administrator or a branch officer {% endcomment %}
                        {% if member.tag < 16 %}
	                        <a href="{% url 'branchlistredirect' branch.name member.mail 0 %}"
	                        	onclick="return window.confirm('Are you sure you want to remove {{member.first_name}} {{member.last_name}} from {{ branch.name }} branch ?')"
	                        	>Remove from branch</a>
	                        
		                    {% if member.tag != 4 and member.tag != 12 %}
		                        <a href="{% url 'branchlistredirect' branch.name member.mail 1 %}"
		                        	onclick="return window.confirm('Are you sure you want to promote {{member.first_name}} {{member.last_name}} to verified ?')"
		                        	>Promote to verified</a>
		                    {% else %}
		                        <a href="{% url 'branchlistredirect' branch.name member.mail 1 %}"
		                        	onclick="return window.confirm('Are you sure you want to  revoke {{member.first_name}} {{member.last_name}} from verified ?')"
		                        	>No more verified</a>
		                    {% endif %}
		                        
		                    {% if member.tag != 8 and member.tag != 12 %}
		                        <a href="{% url 'branchlistredirect' branch.name member.mail 2 %}"
		                        	onclick="return window.confirm('Are you sure you want to promote {{member.first_name}} {{member.last_name}} to volunteer ?')"
		                        	>Promote to volunteer</a>
		                    {% else %}
		                        <a href="{% url 'branchlistredirect' branch.name member.mail 2 %}"
		                        	onclick="return window.confirm('Are you sure you want to revoke {{member.first_name}} {{member.last_name}} from volunteer ?')"
		                        	>No more volunteer</a>
	                        {% endif %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>