{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
		
{% block link %}<link rel="stylesheet" href="../../static/css/profile.css">{% endblock %}

{% block menu%}

<center>
<div style="border-width:2px;border-color:navy;border-style:solid;
background-color:#ffffff;margin-top:3em;width:50em; height:45em;">
<section>
    	<form method = "post" enctype="multipart/form-data" action=".">
    		{% csrf_token %}
   			<div id = "container">
        		<div id ="centreur">
        			<div id = "header">
        				<h1 id = "titre"> Edit profile </h1>
        			</div>
        			<h5>Profil picture :</h5>
        			<p>
	        			{% if member.picture %}
	       					<img src="{{ member.picture.url }}" alt="Photo de profil" id="photo"/>
	       				{% else %}
	       					<img src="{% static 'images/no_picture.jpg' %}" alt="Photo de profil" id="photo"/>
	       				{% endif %}
       				</p>
       				<p>
	       				{% csrf_token %}
	       				{{ form.picture.errors }} {{ form.picture }}
	       				{% if member.picture %}
	       					<a href="{% url 'modifprofileredirect' 0 %}" class="myButton2" style ="color:#ffffff;">Delete picture</a>
	       				{% endif %}
       				</p>
       				
   					<h5> Address: </h5>
   					<p>	{{form.street.errors}} {{form.street}} {{form.number.errors}} {{form.number}} </p>			
       				<p> {{form.zip.errors}} {{form.zip}}  {{form.town.errors}} {{form.town}} </p>
       				<h5> Phone number:</h5>
   			    	<p> {{form.fixed_phone.errors}} {{form.fixed_phone}} </p>
   			    	<h5> Mobile phone number:</h5>
    				<p> {{form.mobile_phone.errors}} {{form.mobile_phone}} </p>
    			</div>
    			<p id = "envoyer"> 
    				<input type = "submit" name = "envoyer" value= "Submit" class = btn >
    				<a href="{% url 'modifprofileredirect' 1 %}" class=btn ">Delete account</a>
    			</p>
    		</div>
		<form/>
</section>  
</div>
</center>
<!--  -->
	
{% endblock %}
