{% extends "C4CApplication/FixedStructure.html" %}

{% load staticfiles %}
	
{% block content %}




<!-- Navbar -->
<center>
<table>
<tr>    {% comment %} TODO Change this to id="XButton" for each X {% endcomment %}
	<td><a href="{% url 'messageList' 1 %}" class="btn2" ">Messages</a></td>
	
	<td><a href="{% url 'profile' %}" class="btn2" >Profile</a></td>
	
    <!-- <td><a href="#" class="myButton">Personal Network</a></td> -->
    <td><a href="{% url 'favorites' %}" class="btn2">Favorites</a></td>
    
    <td><a href="{% url 'accountstats' %}" class="btn2 ">Account & Stats</a></td>
    
      {% if member.tag == 32 %} {% comment %} If we have a bp administrator {% endcomment %}
        
      <td> <a href="{% url 'createbranch' %}" class="btn2"  >New branch</a></td>
      
  <td>  <a href="{% url 'deletememberbpa' %}" class="btn2" >Delete a member</a> </td> 
  
     <td> <a href="{% url 'transferrights' %}" class="btn2 ">Transfer rights</a></td>
 
    {% endif %}
    
        <td><a href="{% url 'logOut' %}" class="btn2" value="Logout" >Logout</a></td>  {% comment %} TODO Change this to id="logoutButton" {% endcomment %}
    <!-- <td><a href="#" class="myButton">Agenda</a></td> -->
  
</tr>
</table>




</center>

<!-- Fixed member data -->
<center>
<h1> Hello, {{ member.first_name }} ! </h1>




<!-- Buttons -->
<div style="margin-bottom:3em;">
<center>    {% comment %} TODO Change this to id="XButton" for each X {% endcomment %}
<table style="margin-top:40px; margin-left:0px; margin-bottom:50px; align:center;">
<tr>
    <td ><a href="{% url 'createJob' 'demand' %}" class="myButton">I need help</a></td>
    <td><a href={% url 'createJob' 'offer' %} class="myButton">I want to help</a></td>
</tr>
<tr>
  <td><center> <a href="{% url 'donate' %}" class="myButton2">Give time</a></center></td>
 <td><center><a href="#" class="myButton2">Register job done</a></center></td>
  
</tr>
</table>
</div>
</center>

{% block menu %}
	
{% endblock %}

{% endblock %}