{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}

{% block link %}<link rel="stylesheet" href="../../static/css/profile.css">{% endblock %}
{% load i18n %}
{% block menu %}

<section style="border-width:2px;border-color:navy;border-style:solid;
background-color:#ffffff;width:40%; height:auto;padding:1em;">

<div style="margin-left:30px; margin-right:30px;">
{% if envoi %}{% trans "Votre message a bien été envoyé" %} !{% endif %}
<h2> {% trans "New message" %}</h2>
<form  method="post">
    {% csrf_token %}
    <p>  {{form.receveur.errors}} {{form.receveur}}</p>
    <p>  {{form.sujet.errors}} {{form.sujet}}</p>
    <p>  {{form.message.errors}} {{form.message}}</p>
    <p>  {{form.renvoi.errors}} {{form.renvoi}}</p>
    <input type="submit" value={% trans "Send" %} class= "btn" onclick="return window.confirm('Send this message ?')" />
</form>

</div>
</section>
{% endblock %}
	