{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
	
{% block link %}<link rel="stylesheet" href="../../static/css/profile.css">{% endblock %}
	
{% block menu%}
	
<center>
<section>
    <h1 class = "entete"><span class="nom"> {{member.first_name}} {{member.last_name}}</span> <span class="tag"> {{ member.tag }} </span></h1>
    <article class = "first">
    	{% if member.picture %}
       		<img src="{{ member.picture.url }}" alt="Photo de profil" id="photo" style="height:250px;"/>
       	{% else %}
       		<img src="{% static 'images/no_picture.jpg' %}" alt="Photo de profil" id="photo" style="height:250px;"/>
       	{% endif %}
    </article>
    
    <article class = "second">
    
    	<h3>Compte :</h3>
        <ul style = "list-style-type: none;"> 
            <li class="info">Mail : {{ member.mail }}</li>
            <li class="info">Mot de passe : *********</li> 
            <li class="info">Date d'inscription : {{ member.register_date}}</li>
        </ul>
        
        <h3>Informations personnelles :</h3>
        <ul style = "list-style-type: none;">
            <li class="info">Nom : {{member.first_name}} {{member.last_name}}</li>
            <li class="info">Date de naissance : {{member.birthday}}</li> 
            <li class="info">Mobile : {{member.mobile}}</li>
            <li class="info">Telephone : {{member.telephone}}</li>
            <li class="info">Adresse : {{member.address}}</li>
        </ul>
                
         {% comment %}
        <h4>Adresse :</h4>
        <ul>
       
            <li class="info">Rue : rue de l'Eglise</li>
            <li class="info">Numéro : 40</li>
            <li class="info">Code postal : 1330</li>
            <li class="info">Ville : Rixensart</li> 
            <li class="info">Pays : Belgique</li>
        {% endcomment %}
        </ul>
        
        
    </article>
</section>   
</center>

{% endblock %}