{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
	
{% block link %}<link rel="stylesheet" href="../../static/css/profile.css">{% endblock %}
	
{% block menu%}
	
<center>

<section style="border-width:2px;border-color:navy;border-style:solid;
background-color:#ffffff;margin-top:3em;width:50em; height:25em;">
    <h1 class = "entete"><span class="nom"> {{member_shown.first_name}} {{member_shown.last_name}}</span></h1> 
    {% comment %} <span class="tag"> {{ member_shown.tag }} </span> {% endcomment %}
    <article class = "first">
    	{% if member_shown.picture %}
       		<img src="{{ member_shown.picture.url }}" alt="Photo de profil" id="photo" />
       	{% else %}
       		<img src="{% static 'images/no_picture.jpg' %}" alt="Photo de profil" id="photo"/>
       	{% endif %}
    </article>
    
    <article class = "second">
   
    	<h3>Compte :</h3>
        <ul style = "list-style-type: none;"> 
            <li class="info">Type : 
            
            {% if member_shown.tag == 1 %} Non member 
            {% elif member_shown.tag == 2 %} Member
            {% elif member_shown.tag == 4 %} Verified member
            {% elif member_shown.tag == 8 %} Volunteer
            {% elif member_shown.tag == 16 %} Branch officer
            {% elif member_shown.tag == 32 %} BP Admin
            
            
            {% endif %}</li>
            <li class="info"> Status:
            

	    	{% if member_shown.status %}
	    		{% if member.mail == member_shown.mail %}
	    			<a href="{% url 'changeActivity' %}" value="activity">Active</a>
	    		{% else %}
	    			Actif
	    		{% endif %}
	    	{% else %}
	    		{% if member.mail == member_shown.mail %}
	    			<a href="{% url 'changeActivity' %}" value="activity">Inactive</a>
	    		{% else %}
	    			Inactif
	    		{% endif %}
	    	{% endif %}
	    
	        </li>
            <li class="info">Mail : {{ member_shown.mail }}</li>
            <li class="info">Date d'inscription : {{ member_shown.register_date}}</li>
        </ul>
        
        <h3>Informations personnelles :</h3>
        <ul style = "list-style-type: none;">
            <li class="info">Nom : {{member_shown.first_name}} {{member_shown.last_name}}</li>
            <li class="info">Date de naissance : {{member_shown.birthday}}</li> 
            <li class="info">Mobile : {{member_shown.mobile}}</li>
            <li class="info">Telephone : {{member_shown.telephone}}</li>
            <li class="info">Adresse : {{member_shown.address}}</li>
        </ul>
                
         {% comment %}
        <h4>Adresse :</h4>
        <ul>
       
            <li class="info">Rue : rue de l'Eglise</li>
            <li class="info">Numéro : 40</li>
            <li class="info">Code postal : 1330</li>
            <li class="info">Ville : Rixensart</li> 
            <li class="info">Pays : Belgique</li>
        {% endcomment %}
        </ul>
        
        
    </article>
</section>  
<td></br><a href="{% url 'modifprofile' %}" class="btn">Edit profile</a></td>

</center>

{% endblock %}