{% extends "C4CApplication/FixedStructure.html" %}

{% load staticfiles %}
	<style type="text/css">

    </style>
    
    
 
{% block content %}
   <center>
<section style="margin-top:2em;border-width:2px;border-color:navy;border-style:solid;
background-color:#ffffff;width:20em;height:auto;padding:2em;>
  <button onclick="location.href='registration/eidrequest'">
      <img src="{% static "images/eid_logo.png" %}" border="0" width="50" height="36" align="absmiddle">
      Prefill form with eID data
  </button>
    	<form method="post" >
    		{% csrf_token %}
            <!--{{ form.errors }}-->
   			<fieldset>
                <legend>Account credentials</legend>
                {{ form.mail.label }} : {{ form.mail }} <br>
                {{ form.password.label }} : {{ form.password }} <br>
   			</fieldset>
        <fieldset>
            <legend>Personal information</legend>
            {{ form.first_name.label }} : {{ form.first_name }} <br>
            {{ form.last_name.label }} : {{ form.last_name }} <br>
            {{ form.gender.label }} :
            {% for gender in form.gender %}
                {{ gender }}
            {% endfor %} <br>
            {{ form.street.label }} : {{ form.street }} <br>
            {{ form.zip.label }} : {{ form.zip }} <br>
            {{ form.town.label }} : {{ form.town }} <br>
            {{ form.telephone.label }} : {{ form.telephone }} <br>
            {{ form.mobile.label }} : {{ form.mobile }} <br>
            {{ form.birthday.label }} : {{ form.birthday }}
        </fieldset>
        <fieldset>
            <legend>Miscellaneous</legend>
            {{ form.picture.label }} : {{ form.picture }} <br>
            {{ form.branch.label }} :
            {% for branch in form.branch %}
                {{ branch }}
            {% endfor %} <br>
            {{ form.tag.label }} :
            {% for tag in form.tag %}
                {{ tag }}
            {% endfor %}
        </fieldset>
        <input type="submit" value="Register">
		</form>


</section>

{% endblock %}