{% extends "C4CApplication/FixedStructure.html" %}
{% load i18n %}
{% load staticfiles %}
	<style type="text/css">

    </style>
    
    
 
{% block content %}
   <center>
<section style="padding:1em;border-width:2px;border-color:navy;border-style:solid;
background-color:#ffffff;width:25%;height:auto;padding-right:4em;padding-left:4em;margin:2em;">

<a href="{% url 'eidrequest' %}" class="myButton2" style="padding-left:3px;padding-right:4px;padding-top:1em;padding-bottom:1em;">
  
  
      <img src="{% static "images/eid_logo.png" %}" border="0" width="50" height="36" align="absmiddle">
       Prefill with eID
  </a>
 
  
    	<form method="post" enctype="multipart/form-data">
    		{% csrf_token %}
            </br>
   			<fieldset>
			 <legend> <h3> {% trans "Account credential"%}</h3></legend>
			 <table>
                <tr><td>{{ form.mail.label }} : {{ form.mail }} </td> </tr>
              <tr> <td> {{ form.password.label }} : {{ form.password }}</td> </tr>
                 <tr><td>{{ form.confirm.label }} : {{ form.confirm }}</td></tr>
              </table>
   			</fieldset>
   			  </br>
        <fieldset>
            <legend><h3>{% trans 'Personal information' %}</h3></legend>
            <table>
            <tr> <td>{{ form.first_name.label }} : {{ form.first_name }} </td> </tr>
           <tr> <td>{{ form.last_name.label }} : {{ form.last_name }} </td>  </tr>
           <tr><td> {{ form.gender.label }} : 
            {% for gender in form.gender %}
                {{ gender }}
            {% endfor %}  </td></tr>
          <tr> <td> {{ form.street.label }} : {{ form.street }} </td> </tr>
           <tr> <td>{{ form.zip.label }} : {{ form.zip }} </td> </tr>
           <tr> <td>{{ form.town.label }} : {{ form.town }} </td> </tr>
           <tr> <td>{{ form.telephone.label }} : {{ form.telephone }} </td> </tr>
            <tr> <td> {{ form.mobile.label }} : {{ form.mobile }}  </td></tr>
           <tr> <td>{{ form.birthday.label }} : {{ form.birthday }} </td></tr>
            </table>
        </fieldset>
        </br>
        <fieldset>
            <legend><h3> {% trans "Miscellaneous"%}</h3></legend>
            <table>
         <tr><td> {{ form.picture.label }} : 
            {{ form.picture }} </td></tr>
            
           <tr><td>  {{ form.branch.label }} : 
            <table style="font-size:12px;color:black;">
            {% for branch in form.branch %}
              <tr> <td> {{ branch }} </td></tr>
            {% endfor %}
            </table> </td></tr>
            
           <tr><td> {{ form.tag.label }} : 
              <table style="font-size:12px;color:black;">
            {% for tag in form.tag %}
        
               <tr><td> {{ tag }} </td></tr>
                
            {% endfor %}
            
            </td>
            </tr>
             </table>
        </fieldset>
       
      </br>
        <center> <input type="submit" value={% trans "Register"%} class = "btn"> </center>
		  </form>
		</section>
</center>
{% endblock %}