{% extends "C4CApplication/MyCare4Care.html" %}

{% load staticfiles %}
{% load i18n %}		
{% block link %}<link rel="stylesheet" href="../../static/css/profile.css">{% endblock %}

{% block menu %} 

 

	<section style="border-width:2px;border-color:navy;border-style:solid;
background-color:#ffffff;padding-top:1em;padding-bottom:2em;margin-top:1em;width:35em; height:auto;">
   
   <center>
   
	 <!-- Job form -->
	 <h1>{% trans "Job Search" %}</h1>
	 <form method="post" >
	    {% csrf_token %}
 	
	    {{ searchform.email_member.errors }}
	    {{ searchform.email_member }}
	    {{ searchform.type_of_job.errors }}
	    <table><tr><td>{{ searchform.type_of_job }}</td></tr></table>
	  

	    <input type="submit" value="{% trans "Filter" %}" class ="btn"/>
	 </form>
     <br/>



	<table class="tab1" style="margin-left:1em;" >
	  <tr>
		<th class=".tab1-3" colspan="6">{% trans "Search results"%}</th>
	  </tr>
	  <tr>
		<td class="tab1-4">{% trans "Job category"%}</td>
		<td class="tab1-4">{% trans "Title"%}</td>
		<td class="tab1-4">{% trans "Location"%}</td>
	  </tr>

	  {% for job in job_list %}
		  <tr>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}">
												{% for key, value in job.CAT %}
												{% if key == job.category %}
													{{ value }}
													{% endif %}
	 											   {% endfor %}  </a></td>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.title|truncatewords:10  }} </a></td>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.place }} </a></td>
		  </tr>
	  {% endfor %}

	</table>


{% endblock %}

</section>
	</center>