{% extends "C4CApplication/FixedStructure.html" %}

{% load staticfiles %}
{% load i18n %}
{% block content %}

	 <!-- Job form -->
	 <h1>Job Search</h1>
	 <form method="post" >
	    {% csrf_token %}
	    {{ searchform.email_member.errors }}
	    {{ searchform.email_member }}
	    {{ searchform.type_of_job.errors }}
	    {{ searchform.type_of_job }}
	    <input type="submit" value="Filter" />
	 </form>

    <!-- Job table -->
	<table class="tab1" style="margin-left:1em;" >
	  <tr>
		<th class=".tab1-3" colspan="6">{% trans "Recent feeds of demand"%}</th>
	  </tr>
	  <tr>
		<td class="tab1-4">{% trans "Job category"%}</td>
		<td class="tab1-4">{% trans "Title"%}</td>
		<td class="tab1-4">{% trans "Location"%}</td>
	  </tr>

	  {% for job in job_list %}
		  <tr>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}">
												{% for key, value in job.CAT %}
												{% if key == job.category %}
													{{ value }}
													{% endif %}
	 											   {% endfor %}  </a></td>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.title|truncatewords:10  }} </a></td>
			<td class="tab1-3"> <a href="{% url 'jobdetails' job.id %}"> {{ job.place }} </a></td>
		  </tr>
	  {% endfor %}

	</table>
</center>

{% endblock %}
