<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	
<head>
	<meta charset="utf-8"/>
	<title>Care4Care - Home Page</title>
	<link rel="stylesheet" href="home_as_visitor.css">
</head>

<body>
    
    
    <!-- Login/Create Account -->
	<elem_horiz style = "right : 45px;" >
	<a href="Login.html" style = "text-decoration: none" >Login</a>
	</elem_horiz>
	<elem_horiz style = "right : 92px;">
	<a href="CreateAccount.html" style = "text-decoration: none">Create an account</a>
	</elem_horiz>


	
	<!-- Menu de navigation (structure fixe) -->
	<ul class="navbar">
			 <!-- Optionnel
			
				<li><a href="AboutUs.html">About us</a></li>
				<li><a href="WhatIsCare4Care.html">What is Care4Care ?</a></li>
				<li><a href="HowDoesItWork.html">How does it work ?</a></li>
				<li><a href="Help">Help</a></li>
			
			-->
			<li><a href="Branches.html">Care4Care Branches</a></li>
				<ul>
					<li><a href="">Heembeek</a></li>
					<li><a href="">Molenbeek</a></li>
					<li><a href="">Rixensart</a></li>
					
				</ul>
			<li><a href="Statistics.html">Statistics</a></li>
			<li><a href="Map.html">Map</a></li>
			<li><a href="StartABranch.html">Start a branch ?</a></li>
			<li><a href="News.html">News</a></li>
			<li><a href="Jobs@Care4Care.html">Jobs@Care4Care</a></li>
	</ul>




	<!-- Galerie photos -->
	<table style="margin-top:30px; margin-left:60px; border: 2px solid navy;"> 
	<tr> 
		<td><img src="images/retraite.jpg" alt="titre" width= 240px height= 200px /></td> 
		<td ><img src="images/care.jpg" alt="titre" width= 240px height= 200px /></td> 
		<td ><img src="images/old.jpg" alt="titre" width= 240px height= 200px/></td> 
	</tr> 
	</table> 



	<!-- Buttons -->
	<center> <h1> Welcome on Care4Care !</h1> 
		<a href="#" class="myButton">I want to help</a>
	<span>
	<a href="#" class="myButton">I need help</a>
	</span>
	</center>



    <!-- Feed tables -->
    
        <!-- Job offers table -->
	<center>
	<table class="tab1">
	  <tr>
		<th class=".tab1-3" colspan="6">Recent feeds of offer</th>
	  </tr>
	  <tr>
		<td class="tab1-4">Job category</td>
		<td class="tab1-4">Title</td>
		<td class="tab1-4">Location</td>
	  </tr>
	  <tr>
		<td class="tab1-3"> Computing</td>
		<td class="tab1-3">Faire mes devoirs en IA</td>
		<td class="tab1-3">Louvain-La-Neuve, salle Intel</td>
	  </tr>
	  <tr>
		<td class=" tab1-3"> Esclave</td>
		<td class="tab1-3"> Terminer ses pages .html de m*****</td>
		<td class=" tab1-3"> DMC ?</td>  </tr>
	  <tr>
		<td class="tab1-3">........</td>
		<td class="tab1-3">........</td>
		<td class="tab1-3">........</td>
	  </tr>
	</table>
        
        <!-- Job demands table -->
	<table class="tab1" style="top: 28em; left: 48em" >
	  <tr>
		<th class=".tab1-3" colspan="6">Recent feeds of demand</th>
	  </tr>
	  <tr>
		<td class="tab1-4">Job category</td>
		<td class="tab1-4">Title</td>
		<td class="tab1-4">Location</td>
	  </tr>
	  <tr>
		<td class="tab1-3">........</td>
		<td class="tab1-3"> Armand Bosquillon pue de la gueule</td>
		<td class="tab1-3">........</td>
	  </tr>
	  <tr>
		<td class=" tab1-3">........</td>
		<td class="tab1-3">........</td>
		<td class=" tab1-3">........</td>  </tr>
	  <tr>
		<td class="tab1-3">........</td>
		<td class="tab1-3">........</td>
		<td class="tab1-3">........</td>
	  </tr>
	</table>
	</center>
	
</body>	
</html>
