<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/home_page.css">
</head>

<center>
<table style="margin-top:50px; margin-left:0px; ">
<tr>
    <td>Hello, {{ member.name }} !</td>
    <td>{{ member.tag }}</td>
    <td>{{ member.activity }}</td> {% comment %} TODO Change this {% endcomment %}
    <td><a href="#" class="myButton">Logout</a></td>  {% comment %} TODO Change this to id="logoutButton" {% endcomment %}
</tr>
</table>
</center>

<center>
<table style="margin-top:100px; margin-left:0px; ">
<tr>
    <td>Messages</td>
    <td>Profile</td>
    <td>Personal Network</td>
    <td>Favorites</td>
    <td>Account & Stats</td>
    <td>Agenda</td>
</tr>
</table>
</center>